

.app{
    
    display: flex;
    flex-direction: column;
    align-items:center;
}

.title{
    text-align: center;
}
.item {
    background-color: #a59e9e;
    width:100%;
  }
  form {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
button{
    max-width: 100%;
}
  form > input {
    background-color:silver;
   max-width: 100%;
  }

.item.completed {
    background-color: #cf1616;
    text-decoration: line-through;
  }

  .todo-list {
    display: flex;
    flex-flow: row wrap; 
    justify-content: space-between;
    width: 100%;
  }